<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8 col-md-10">
                            <input type="search" class="search-input" name="searchKey" autocomplete="off" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)" placeholder="جستجو" />
                        </div>
                        <div class="col-4 col-md-2">
                            <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#createPersonalModal" (click)="clicktoAddPerson()">جدید</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست اشخاص</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">موبایل</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data; let i = index">
                                <th scope="row">
                                    {{i+1}}
                                </th>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>{{item.category}}</td>
                                <td>
                                    {{item.phone}}
                                </td>
                                <td>
                                    <div class="modal fade" id="showDetailModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{{item.name}}</h5>
                                                    <i class="fas text-dark fa-times" data-bs-dismiss="modal" aria-label="Close"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="input-last-name">دسته بندی</label>
                                                                    <p>{{item.category}}
                                                                        <p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="title">شماره تلفن</label>
                                                                    <p>{{item.phone}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">آدرس</label>
                                                                    <P>{{item.address}}</P>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">شماره کارت</label>
                                                                    <p>{{item.credit}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">بستن</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a><i data-bs-toggle="modal" data-bs-target="#showDetailModal" class="fas text-dark fa-eye"></i></a>&nbsp;
                                    <a data-bs-toggle="modal" data-bs-target="#createPersonalModal" (click)="editPerson(item)"><i class="fas fa-pen text-yellow"></i></a>&nbsp;
                                    <a (click)="deletePerson(item.id)"><i class="text-danger fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createPersonalModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="showAdd">شخص جدید</h5>
                <h5 class="modal-title" *ngIf="showEdit">ویرایش</h5>
                <i class="fas text-dark fa-times" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddPersonForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">نام شخص (شرکت)</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">دسته بندی</label>
                                <select class="form-select form-control" formControlName="category">
                                        <option selected value="تامین کننده">تامین کننده</option>
                                        <option value="مشتری">مشتری</option>
                                        <option value="بازاریاب">بازاریاب</option>
                                      </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">شماره تلفن</label>
                                <input type="text" class="form-control" formControlName="phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">آدرس</label>
                                <input type="text" class="form-control" formControlName="address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">شماره کارت</label>
                                <input type="text" class="form-control" formControlName="credit">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" #closebutton>لغو</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="showAdd" (click)="addPerson()" [disabled]="!AddPersonForm.valid">ثبت</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="!showAdd" (click)="EditPersonPost()" [disabled]="!AddPersonForm.valid">ویرایش</button>
            </div>
        </div>
    </div>
</div>