<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8 col-md-10">
                            <input type="search" class="search-input" name="searchKey" autocomplete="off" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)" placeholder="جستجو" />
                        </div>
                        <div class="col-4 col-md-2">
                            <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#createPersonalModal" (click)="clicktoAddPerson()">جدید</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست اشخاص</h3>
                        </div>
                        <div class="col text-left">
                            <button class="icon icon-shape" [disabled]="data.length === 0" (click)="getCSV()"><i class="fa fa-file-excel text-success" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">موبایل</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                                <tr class="tid-data-row">
                                    <th scope="row">
                                        {{i+1}}
                                    </th>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>{{item.category}}</td>
                                    <td>
                                        {{item.phone}}
                                    </td>
                                    <td>
                                        <a (click)="item.showDetail = !item.showDetail"><i class="fas text-dark fa-eye"></i></a>&nbsp;
                                        <a data-bs-toggle="modal" data-bs-target="#createPersonalModal" (click)="editPerson(item)"><i class="fas fa-pen text-yellow"></i></a>&nbsp;
                                        <a (click)="deletePerson(item.id)"><i class="text-danger fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <tr class="tid-detail-row" [ngClass]="{ 'show': item.showDetail}">
                                    <td colspan="5">
                                        <div>
                                            <div class="text-justify px-4 pt-2"> آدرس : {{item.address}} <br> شماره کارت : {{item.credit}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <pagination-controls *ngIf="data.length > 4"
                        (pageChange)="p = $event"
                        previousLabel=""
                        nextLabel=""
                        >
                </pagination-controls>
                    <ng-container *ngIf="data.length === 0">
                        <div class="text-center p-5 w-100">
                            <img src="../../../assets/img/loading.gif" height="100px">
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createPersonalModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="showAdd">شخص جدید</h5>
                <h5 class="modal-title" *ngIf="showEdit">ویرایش</h5>
                <i class="fas text-dark fa-times" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddPersonForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">نام شخص (شرکت)</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">دسته بندی</label>
                                <select class="form-select form-control" formControlName="category">
                                        <option selected value="تامین کننده">تامین کننده</option>
                                        <option value="مشتری">مشتری</option>
                                        <option value="بازاریاب">بازاریاب</option>
                                      </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">شماره تلفن</label>
                                <input type="text" class="form-control" formControlName="phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">آدرس</label>
                                <input type="text" class="form-control" formControlName="address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">شماره کارت</label>
                                <input type="text" class="form-control" dir="ltr" formControlName="credit" CreditCard>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" #closebutton>لغو</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="showAdd" (click)="addPerson()" [disabled]="!AddPersonForm.valid">ثبت</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="!showAdd" (click)="EditPersonPost()" [disabled]="!AddPersonForm.valid">ویرایش</button>
            </div>
        </div>
    </div>
</div>