<div class="header bg-gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">فروش</h5>
                                    <span class="h2 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap ml-2"><small>نسبت به ماه گذشته</small></span>
                                <span class="text-success"><small><i class="fa fa-arrow-up"></i> 3.48%</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">خرید</h5>
                                    <span class="h2 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap ml-2"><small>نسبت به ماه گذشته</small></span>
                                <span class="text-danger"><small><i class="fas fa-arrow-down"></i> 3.48%</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">درآمد</h5>
                                    <span class="h2 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap ml-2"><small>نسبت به ماه گذشته</small></span>
                                <span class="text-warning"><small><i class="fas fa-arrow-down"></i> 1.10%</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">هزینه</h5>
                                    <span class="h2 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap ml-2"><small>نسبت به ماه گذشته</small></span>
                                <span class="text-success"><small><i class="fas fa-arrow-up"></i> 12%</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-white shadow">
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="liner-chart"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">بانکداری</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">بانک</th>
                                <th scope="col">موجودی</th>
                                <th scope="col">تاریخ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    انصار
                                </th>
                                <td>
                                    15,000,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    صادرات
                                </th>
                                <td>
                                    110,500,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    مسکن
                                </th>
                                <td>
                                    18,630,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    صندوق
                                </th>
                                <td>
                                    6,500,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">چک های موعد نزدیک</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">بانک</th>
                                <th scope="col">در وجه</th>
                                <th scope="col">مبلغ</th>
                                <th scope="col">تاریخ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    انصار
                                </th>
                                <td>
                                    علی پیری
                                </td>
                                <td>
                                    15,000,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    انصار
                                </th>
                                <td>
                                    علی پیری
                                </td>
                                <td>
                                    15,000,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    انصار
                                </th>
                                <td>
                                    علی پیری
                                </td>
                                <td>
                                    15,000,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    انصار
                                </th>
                                <td>
                                    علی پیری
                                </td>
                                <td>
                                    15,000,000 تومان
                                </td>
                                <td>
                                    141/09/21
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>