<div class="header bg-gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-3">فروش 30 روزه</h5>
                                    <span *ngIf="totalSellMonth" class="h5 mb-0">{{totalSellMonth | number }} تومان</span>
                                    <span *ngIf="!totalSellMonth" class="h5 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fa fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-3">خرید 30 روزه</h5>
                                    <span *ngIf="totalBuyMonth" class="h5 mb-0">{{totalBuyMonth | number }} تومان</span>
                                    <span *ngIf="!totalBuyMonth" class="h5 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fa fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-3">فروش یکساله</h5>
                                    <span *ngIf="totalSellYear" class="h5 mb-0">{{totalSellYear | number }} تومان</span>
                                    <span *ngIf="!totalSellYear" class="h5 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fa fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-3">خرید یکساله</h5>
                                    <span *ngIf="totalBuyYear" class="h5 mb-0">{{totalBuyYear | number }} تومان</span>
                                    <span *ngIf="!totalBuyYear" class="h5 mb-0">0 تومان</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                        <i class="fa fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست کالا و خدمات</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">کد</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">نام</th>
                                <th scope="col">واحد اصلی</th>
                                <th scope="col">قیمت</th>
                                <th scope="col">موجودی</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="productdata.length !== 0">
                            <tr *ngFor="let item of productdata.slice(0,3); let i = index">
                                <th scope="row">
                                    {{i+1}}
                                </th>
                                <td>{{item.code}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.unit}}</td>
                                <td>{{item.price | currency: ' ' :'symbol-narrow':'4.0'}} تومان </td>
                                <td>{{item.stock}}</td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                    <ng-container *ngIf="productdata.length === 0">
                        <div class="text-center p-5 w-100">
                            <img src="../../../assets/img/loading.gif" height="100px">
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست دریافت و پرداخت</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام</th>
                                <th scope="col">نوع</th>
                                <th scope="col">تاریخ</th>
                                <th scope="col">مبلغ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container  *ngFor="let item of financdata.slice(0,3); let i=index">
                                <tr class="tid-data-row">
                                    <th scope="row">
                                        {{i+1}}
                                    </th>
                                    <td>
                                        {{item.person_name}}
                                    </td>
                                    <td>{{item.types}}</td>
                                    <td>
                                        {{item.created_at | persianDate}}
                                    </td>
                                    <td>
                                        {{item.amount| currency: ' ' :'symbol-narrow':'4.0'}} تومان
                                    </td>

                                </tr>

                            </ng-container>
                        </tbody>
                    </table>
                    <ng-container *ngIf="financdata.length === 0">
                        <div class="text-center p-5 w-100">
                                <img src="../../../assets/img/loading.gif" height="100px">
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست پیام های ارسالی</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">عنوان</th>
                                <th scope="col">واحد مربوطه</th>
                                <th scope="col">تاریخ ثبت</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of tiketdata.slice(0,3); let i=index">
                                <tr class="tid-data-row">
                                    <th scope="row">
                                        {{i+1}}
                                    </th>
                                    <td>{{item.title}}
                                    </td>
                                    <td>
                                        {{item.subject}}
                                    </td>
                                    <td>
                                        {{item.created_at | persianDate }}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <ng-container *ngIf="tiketdata.length === 0">
                        <div class="text-center p-5 w-100">
                                <img src="../../../assets/img/loading.gif" height="100px">
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
</div>