.card-stats {
    text-align: right;
}

table {
    margin-bottom: 0.5rem !important;
    text-align: right !important;
    width: 100% !important;
    tr {
        th {
            font-size: 0.8rem;
        }
        td {
            font-size: 0.75rem;
            padding-bottom: 0px;
        }
    }
}

.bg-gradient-danger1 {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

canvas {
    width: 100%;
}