.navbar-nav {
    margin-left: 0px !important;
    li {
        a {
            i {
                padding-left: 20px !important;
                margin-right: 0px !important;
            }
        }
        padding: 5px 0px;
    }
}

.navbar-vertical.navbar-expand-md .navbar-nav {
    padding-right: 0 !important;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    top: .25rem;
    left: auto;
    bottom: .25rem;
    right: 0 !important;
    border-bottom: 0;
    border-right: 2px solid #5e72e4 !important;
}

a {
    transition: all 300ms ease;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .navbar-brand-img {
        width: 110px !important;
    }
}