<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8 col-md-10">
                            <input type="search" class="search-input" placeholder="جستجو" autocomplete="off" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)" />
                        </div>
                        <div class="col-4 col-md-2">
                            <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#createProductModal" (click)="clicktoAddProduct()">جدید</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست کالا و خدمات</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">کد</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">نام</th>
                                <th scope="col">واحد اصلی</th>
                                <th scope="col">قیمت خرید</th>
                                <th scope="col">قیمت فروش</th>
                                <th scope="col">موجودی</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data; let i = index">
                                <th scope="row">
                                    {{i+1}}
                                </th>
                                <td>{{item.code}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.unit}}</td>
                                <td>{{item.bprice | currency: ' ' :'symbol-narrow':'4.0'}} تومان </td>
                                <td>{{item.sprice | currency: ' ' :'symbol-narrow':'4.0'}} تومان </td>
                                <td>{{item.stock}}</td>

                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createProductModal" (click)="editProduct(item)"><i class="fas fa-pen text-yellow"></i></a>&nbsp;<a (click)="deleteProduct(item.id)"><i class="text-danger fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createProductModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="showAdd">کالا و خدمات جدید</h5>
                <h5 class="modal-title" *ngIf="showEdit">ویرایش کالا و خدمات</h5>
                <i class="fas text-dark fa-times" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddProductForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">کد</label>
                                <input type="text" class="form-control" formControlName="code">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">دسته بندی</label>
                                <select class="form-select form-control" formControlName="category">
                                        <option value="کالا" selected>کالا</option>
                                        <option value="خدمات">خدمات</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label">نام</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">قیمت خرید</label>
                                <input type="text" class="form-control" formControlName="bprice">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">قیمت فروش</label>
                                <input type="text" class="form-control" formControlName="sprice">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">واحد اصلی</label>
                                <input type="text" class="form-control" formControlName="unit">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">تعداد</label>
                                <input type="text" class="form-control" formControlName="stock">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" #closebutton>لغو</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="showAdd" (click)="addProduct()" [disabled]="!AddProductForm.valid">ثبت</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="!showAdd" (click)="EditProductPost()" [disabled]="!AddProductForm.valid">ویرایش</button>
            </div>
        </div>
    </div>
</div>