/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: irsans;
    src: url(./assets/fonts/irsans.ttf);
}

*:not(i) {
    font-family: irsans !important;
}

.text-right {
    text-align: right;
}

.form-control {
    color: #444 !important;
}

.bg-gradient {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.text-yellow {
    color: #eae049;
}