    /* You can add global styles to this file, and also import other style files */
    
    @import url(./assets/scss/toaster.css);
    @font-face {
        font-family: irsans;
        src: url(./assets/fonts/irsans.ttf);
    }
    
    *:not(i) {
        font-family: irsans !important;
    }
    
    .text-right {
        text-align: right;
    }
    
    .form-control {
        color: #444 !important;
    }
    
    .bg-gradient {
        background-color: #FAACA8;
        background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    }
    
    .text-yellow {
        color: #eae049;
    }
    
    .search-input {
        width: 100%;
        height: 3rem;
        margin-left: 10px;
        border: none;
        border-bottom: 1px solid #e9ecef;
        padding: 5px;
        font-size: 12px;
        transition: all 100ms ease;
        &:focus {
            outline: 0px;
            border-bottom: 2px solid #F5365C;
        }
    }
    
    .text-left {
        .btn {
            margin-bottom: -3px;
        }
    }
    
    .modal-footer {
        padding-top: 0px !important;
    }
    
    .btn-create {
        width: 100%;
    }
    
    .form-control {
        color: #8898aa;
        transition: all 300ms ease !important;
        &:focus {
            border: 1px solid #F5365C !important;
        }
    }