<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card shadow">

                <div class="card-body">
                    <form [formGroup]="updateForm" (ngSubmit)="updateUserInformation()">
                        <h6 class="heading-small text-muted mb-4">مشخصات کاربر</h6>
                        <div class="">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">نام</label>
                                        <input type="text" class="form-control form-control" formControlName="fname" required [(ngModel)]="data.fname">
                                        <div class="text-right valid" *ngIf="updateForm.controls['fname'].touched && updateForm.controls['fname'].invalid">
                                            <span class="valid-err" *ngIf="updateForm.controls['fname'].errors?.['required']">این قسمت اجباری است.</span>
                                            <span class="valid-err" *ngIf="updateForm.controls['fname'].errors?.['pattern']">لطفا درست وارد کنید.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">نام خانوادگی</label>
                                        <input type="text" class="form-control form-control" formControlName="lname" required [(ngModel)]="data.lname">
                                        <div class="text-right valid" *ngIf="updateForm.controls['lname'].touched && updateForm.controls['lname'].invalid">
                                            <span class="valid-err" *ngIf="updateForm.controls['lname'].errors?.['required']">این قسمت اجباری است.</span>
                                            <span class="valid-err" *ngIf="updateForm.controls['lname'].errors?.['pattern']">لطفا درست وارد کنید.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">شماره تلفن</label>
                                        <input type="text" class="form-control form-control" formControlName="phone_number" required [(ngModel)]="data.phone_number">
                                        <div class="text-right valid" *ngIf="updateForm.controls['phone_number'].touched && updateForm.controls['phone_number'].invalid">
                                            <span class="valid-err" *ngIf="updateForm.controls['phone_number'].errors?.['required']">این قسمت اجباری است.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">رمز عبور</label>
                                        <input type="text" class="form-control form-control" formControlName="password" required [(ngModel)]="data.password">
                                        <div class="text-right valid" *ngIf="updateForm.controls['password'].touched && updateForm.controls['password'].invalid">
                                            <span class="valid-err" *ngIf="updateForm.controls['password'].errors?.['required']">این قسمت اجباری است.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">مشخصات تماس</h6>
                        <div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-control-label">آدرس</label>
                                        <input class="form-control form-control" formControlName="address" required [(ngModel)]="data.address" type="text">
                                        <div class="text-right valid" *ngIf="updateForm.controls['address'].touched && updateForm.controls['address'].invalid">
                                            <span class="valid-err" *ngIf="updateForm.controls['address'].errors?.['required']">این قسمت اجباری است.</span>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">کد پستی</label>
                                        <input type="number" class="form-control form-control" formControlName="postal_code" required [(ngModel)]="data.postal_code">
                                        <div class="text-right valid" *ngIf="updateForm.controls['postal_code'].touched && updateForm.controls['postal_code'].invalid">
                                            <span class="valid-err" *ngIf="updateForm.controls['postal_code'].errors?.['required']">این قسمت اجباری است.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-left">
                            <button type="submit" [disabled]="!updateForm.valid" class="btn btn-danger mt-3">
                                به روز رسانی
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>