<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">

                <div class="card-body">
                    <form>
                        <h6 class="heading-small text-muted mb-4">مشخصات کاربر</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">نام</label>
                                        <input type="text" id="input-first-name" class="form-control form-control-alternative" value="یوسف">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">نام خانوادگی</label>
                                        <input type="text" id="input-last-name" class="form-control form-control-alternative" value="غیبی">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">شماره تلفن</label>
                                        <input type="text" id="input-username" class="form-control form-control-alternative" value="09214536991">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">آدرس ایمیل</label>
                                        <input type="email" id="input-email" class="form-control form-control-alternative" value="gheibi@gmail.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">مشخصات تماس</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">آدرس</label>
                                        <input id="input-address" class="form-control form-control-alternative" value="ارومیه ، خیابان ابوذر ، خیابان حر ، کوچه 17 پلاک 21 " type="text">
                                    </div>
                                </div>



                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">کد پستی</label>
                                        <input type="number" id="input-postal-code" class="form-control form-control-alternative" value="5717711111">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>