<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>

</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <ul class="nav nav-pills w-100 px-2" id="pills-tab" role="tablist">
                            <li class="nav-item w-50" role="presentation">
                                <button class="btn nav-link w-100 active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy" type="button" role="tab" aria-selected="true">خرید</button>
                            </li>
                            <li class="nav-item w-50" role="presentation">
                                <button class="btn nav-link w-100" id="pills-sell-tab" data-bs-toggle="pill" data-bs-target="#pills-sell" type="button" role="tab" aria-selected="false">فروش</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active py-3" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
                        <div class="container">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">خریدار</label>
                                            <select class="form-select form-control" aria-label="Default select example">
                                                <option selected value="1">امیر غیبی</option>
                                              </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">عنوان</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">روش پرداخت</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <hr class="mt-1 mb-3">
                                <div class="row">
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">دسته بندی</label>
                                            <select class="form-select form-control" aria-label="Default select example">
                                                <option selected value="1">کالا</option>
                                                <option value="2">خدمت</option>
                                              </select>
                                        </div>
                                    </div>


                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">نام</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>


                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">قیمت</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">تعداد</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-between">
                                    <div class="col-6 text-right">
                                        <button class="btn btn-danger">اضافه به سبد</button>
                                    </div>
                                    <div class="col-3 text-left">
                                        0 تومان
                                    </div>

                                </div>
                            </form>

                            <div class="table-responsive mt-4">
                                <table class="table align-items-center">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">نام</th>
                                            <th scope="col">واحد اصلی</th>
                                            <th scope="col">قیمت</th>
                                            <th scope="col">تعداد</th>
                                            <th scope="col">قیمت کل</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                گوشی glx
                                            </td>
                                            <td>
                                                عدد
                                            </td>
                                            <td>
                                                3,500,000 تومان
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                3,500,000 تومان
                                            </td>
                                            <td>
                                                <a><i class="text-danger fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade py-3" id="pills-sell" role="tabpanel" aria-labelledby="pills-sell-tab">
                        <div class="container">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">خریدار</label>
                                            <select class="form-select form-control" aria-label="Default select example">
                                                <option selected value="1">امیر غیبی</option>
                                              </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">عنوان</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">روش پرداخت</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <hr class="mt-1 mb-3">
                                <div class="row">
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">دسته بندی</label>
                                            <select class="form-select form-control" aria-label="Default select example">
                                                <option selected value="1">کالا</option>
                                                <option value="2">خدمت</option>
                                              </select>
                                        </div>
                                    </div>


                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">نام</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>


                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">قیمت</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">تعداد</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-between">
                                    <div class="col-6 text-right">
                                        <button class="btn btn-danger">اضافه به سبد</button>
                                    </div>
                                    <div class="col-3 text-left">
                                        0 تومان
                                    </div>

                                </div>
                            </form>

                            <div class="table-responsive mt-4">
                                <table class="table align-items-center">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">نام</th>
                                            <th scope="col">واحد اصلی</th>
                                            <th scope="col">قیمت</th>
                                            <th scope="col">تعداد</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                گوشی glx
                                            </td>
                                            <td>
                                                عدد
                                            </td>
                                            <td>
                                                3,500,000 تومان
                                            </td>
                                            <td>
                                                5
                                            </td>

                                            <td>
                                                <a><i class="text-danger fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>