<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>

</div>
<div class="container-fluid mt--7">
    <div class="row">

        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="container text-right pt-3">
                    <form [formGroup]="AddFactorForm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">نام</label>
                                    <select class="form-select form-control" formControlName="name" (change)="getPersonDetails($event.target.value)">
                                        <option *ngFor="let person of people" [value]="person.id">{{person.name}}</option>
                                      </select>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-control-label">آدرس</label>
                                    <input type="text" class="form-control" formControlName="address">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">تلفن</label>
                                    <input type="text" class="form-control" formControlName="phone">
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">روش پرداخت</label>
                                    <select class="form-select form-control" formControlName="paymentMethod">
                                        <option selected value="نقدی">نقدی</option>
                                        <option value="کارت بانکی">کارت بانکی</option>
                                        <option value="چک">چک</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">نوع فاکتور</label>
                                    <select class="form-select form-control" formControlName="typeFactor">
                                        <option selected value="خرید">خرید</option>
                                        <option value="فروش">فروش</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">توضیحات</label>
                                    <textarea type="text" rows="4" class="form-control" formControlName="description"></textarea>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-1 mb-3">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label">دسته بندی</label>
                                    <select class="form-select form-control" formControlName="category" (change)="getProductByCategory($event)">
                                        <option value="کالا">کالا</option>
                                        <option value="خدمات">خدمت</option>
                                      </select>
                                </div>
                            </div>


                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label">نام</label>
                                    <select class="form-select form-control" formControlName="product" id="product" (change)="getProductDetails($event.target.value)">
                                        <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
                                      </select>
                                </div>
                            </div>


                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label">قیمت</label>
                                    <input type="text" class="form-control" formControlName="price">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label">تعداد</label>
                                    <input type="number" class="form-control" formControlName="stock" (keyup)="setQuantity($event)">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between">
                            <div class="col-6 text-right">
                                <button class="btn btn-danger" [disabled]="validateProductAdd()" (click)="add()">اضافه به سبد</button>
                            </div>
                            <div class="col-3 text-left">
                                <input type="text" class="form-control" formControlName="total">
                            </div>

                        </div>
                    </form>

                    <div class="table-responsive mt-4">
                        <table class="table align-items-center">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">نام</th>
                                    <th scope="col">قیمت</th>
                                    <th scope="col">تعداد</th>
                                    <th scope="col">قیمت کل</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataSource;let i=index">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.price | currency: ' ' :'symbol-narrow':'4.0'}} تومان
                                    </td>
                                    <td>
                                        {{item.stock}}
                                    </td>
                                    <td>
                                        {{item.total | currency: ' ' :'symbol-narrow':'4.0'}} تومان
                                    </td>
                                    <td>
                                        <a (click)="handleDelteAction(i,item)"><i class="text-danger fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-md-4 p-4" *ngIf="totalAmount != 0">
                            <div class="final-cast">
                                <p>جمع کل : </p>
                                <p>
                                    {{totalAmount | currency: ' ' :'symbol-narrow':'4.0'}} تومان </p>
                            </div>
                            <button class="btn btn-send btn-danger w-100 mt-2" [disabled]="clicked || validateSubmit()" (click)="submitAction(); clicked = true;">ثبت فاکتور</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>