<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8 col-md-10">
                            <input type="search" class="search-input" name="searchKey" autocomplete="off" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)" placeholder="جستجو" />
                        </div>
                        <div class="col-4 col-md-2">
                            <button class="btn btn-danger w-100" routerLink="/new-factor">جدید</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست خرید و فروش</h3>
                        </div>
                        <div class="col text-left">
                            <button class="icon icon-shape" [disabled]="data.length === 0" (click)="getCSV()"><i class="fa fa-file-excel text-success" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام</th>
                                <th scope="col">نوع</th>
                                <th scope="col">تاریخ</th>
                                <th scope="col">مبلغ فاکتور</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                                <tr class="tid-data-row">
                                    <th scope="row">
                                        {{i+1}}
                                    </th>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>{{item.typeFactor}}</td>
                                    <td>
                                        {{item.created_at | persianDate}}
                                    </td>
                                    <td>
                                        {{item.total| currency: ' ' :'symbol-narrow':'4.0'}} تومان
                                    </td>
                                    <td>
                                        <a (click)="downloadFactor(item.uuid)"><i class="fas fa-file-download"></i></a>
                                        <a (click)="item.showDetail = !item.showDetail"><i class="fas text-dark fa-eye"></i></a>&nbsp;
                                        <a (click)="deleteFactor(item.id)"><i class="text-danger fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <tr class="tid-detail-row" [ngClass]="{ 'show': item.showDetail}">
                                    <td colspan="5">
                                        <div>
                                            <div class="text-justify px-4 pt-2"> {{item.description}} </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <pagination-controls *ngIf="data.length > 4"
                            (pageChange)="p = $event"
                            previousLabel=""
                            nextLabel=""
                            >
                    </pagination-controls>
                    <ng-container *ngIf="data.length === 0">
                        <div class="text-center p-5 w-100">
                            <img src="../../../assets/img/loading.gif" height="100px">
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>