<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8 col-md-10">
                            <input type="search" class="search-input" placeholder="جستجو" autocomplete="off" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)" />
                        </div>
                        <div class="col-4 col-md-2">
                            <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#createMessageModal">جدید</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست پیام های ارسالی</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">عنوان</th>
                                <th scope="col">واحد مربوطه</th>
                                <th scope="col">تاریخ ثبت</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of dataSource; let i=index">
                                <tr class="tid-data-row">
                                    <th scope="row">
                                        {{i+1}}
                                    </th>
                                    <td>{{item.title}}
                                    </td>
                                    <td>
                                        {{item.subject}}
                                    </td>
                                    <td>
                                        {{item.created_at |date }}
                                    </td>
                                    <td>
                                        <a (click)="item.showDetail = !item.showDetail"><i class="fas text-dark fa-eye"></i></a>&nbsp;<a (click)="deleteTicket(item.id)"><i class="text-danger fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <tr class="tid-detail-row" [ngClass]="{'show': item.showDetail}">
                                    <td colspan="5">
                                        <div>
                                            <div class="text-justify px-4 pt-2"> متن پیام : {{item.message}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createMessageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ارسال پیام جدید</h5>
                <i class="fas text-dark fa-times" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddTiketForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">عنوان</label>
                                <input type="text" class="form-control" formControlName="title">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">واحد مربوطه</label>
                                <select class="form-select form-control" formControlName="subject">
                                        <option value="پشتیبانی" selected>پشتیبانی</option>
                                        <option value="مالی">مالی</option>
                                        <option value="فروش">فروش</option>
                                      </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-control-label">پیام</label>
                            <textarea class="form-control" rows="6" formControlName="message"></textarea>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" #closebutton data-bs-dismiss="modal">لغو</button>
                <button type="button" class="btn btn-sm btn-primary" (click)="addTiket()" [disabled]="!AddTiketForm.valid">ارسال پیام</button>
            </div>
        </div>
    </div>
</div>