<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px;">
    <!-- Mask -->
    <span class="mask bg-gradient"></span>


</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8 col-md-10">
                            <input type="search" class="search-input" name="searchKey" autocomplete="off" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)" placeholder="جستجو" />
                        </div>
                        <div class="col-4 col-md-2">
                            <button class="btn btn-danger w-100" (click)="clicktoAddFinanc()" data-bs-toggle="modal" data-bs-target="#createIncomeModal">جدید</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col text-right">
                            <h3 class="mb-0">لیست دریافت و پرداخت</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام</th>
                                <th scope="col">نوع</th>
                                <th scope="col">تاریخ</th>
                                <th scope="col">مبلغ</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data; let i=index">
                                <tr class="tid-data-row">
                                    <th scope="row">
                                        {{i+1}}
                                    </th>
                                    <td>
                                        {{item.person_name}}
                                    </td>
                                    <td>{{item.types}}</td>
                                    <td>
                                        {{item.created_at | persianDate}}
                                    </td>
                                    <td>
                                        {{item.amount| currency: ' ' :'symbol-narrow':'4.0'}} تومان
                                    </td>
                                    <td>
                                        <a (click)="item.showDetail = !item.showDetail"><i class="fas text-dark fa-eye"></i></a>&nbsp;
                                        <a data-bs-toggle="modal" data-bs-target="#createIncomeModal" (click)="editFinanc(item)"><i class="fas fa-pen text-yellow"></i></a>&nbsp;
                                        <a (click)="deleteFinanc(item.id)"><i class="text-danger fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <tr class="tid-detail-row" [ngClass]="{ 'show': item.showDetail}">
                                    <td colspan="5">
                                        <div>
                                            <div class="text-justify px-4 pt-2"> {{item.description}} </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createIncomeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="showAdd">دریافت و پرداخت جدید</h5>
                <h5 class="modal-title" *ngIf="showEdit"> ویرایش دریافت و پرداخت</h5>
                <i class="fas text-dark fa-times" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddFinancForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-last-name">متقاضی</label>
                                <select class="form-select form-control" formControlName="person_name">
                                        <option *ngFor="let person of people;" [value]="person.name">{{person.name}}</option>
                                      </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-last-name">نوع</label>
                                <select class="form-select form-control" formControlName="types">
                                        <option selected value="دریافت - نقد">دریافت - نقد</option>
                                        <option selected value="دریافت - چک">دریافت - چک</option>
                                        <option selected value="پرداخت - نقد">پرداخت - نقد</option>
                                        <option selected value="پرداخت - چک">پرداخت - چک</option>
                                      </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label">مبلغ</label>
                                <input type="text" class="form-control" formControlName="amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">توضیحات</label>
                                <textarea rows="3" type="text" class="form-control" formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" #closebutton>لغو</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="showAdd" (click)="addFinanc()" [disabled]="!AddFinancForm.valid">ثبت</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="!showAdd" (click)="EditFinancPost()" [disabled]="!AddFinancForm.valid">ویرایش</button>
            </div>
        </div>
    </div>
</div>